:root{
    --primary-color: #2364AA;
    --secondary-color: #3DA5D9;
    --accent1-color: #BCAB79;
    --accent2-color: #BD4F6C;

    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #fff;
}

header, main, footer {
    width:840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding:10px 20px;
    gap: 20px;
}

.logo {
    width: 60px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top:20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    text-align: left;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color:#fff
}

.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 16px;
    background-color: #f9f9f9;
}
.history h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: #2364AA;
}
.history img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 16px;
    background-color: #f9f9f9; 
}
.adventure h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: #2364AA;
}

.adventure figure {
    
    flex: 1 1 calc(20% - 10%);
    text-align: center;
}

.adventure img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.adventure figcaption {
    margin-top: 6px;
    font-size: 0.9rem;
    color: var(--primary-color);
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 40px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 30px;
    height: 30px;
}
